*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Space Mono", monospace;
}

:root {
  /* colors */
  --strong-cyan: hsl(172, 67%, 45%);
  --very-dark-cyan: hsl(183, 100%, 15%);
  --dark-grayish-cyan: hsl(186, 14%, 43%);
  --grayish-cyan: hsl(184, 14%, 56%);
  --light-grayish-cyan: hsl(185, 41%, 84%);
  --very-ligh-grayish-cyan: hsl(189, 41%, 97%);
  --white: hsl(0, 0%, 100%);
}

html {
  font-size: 100%;
}

body {
  background-color: var(--white);
}

input[type="number"] {
  color: var(--dark-grayish-cyan);
  background: var(--very-ligh-grayish-cyan);
}

button {
  cursor: pointer;
}

button,
input[type="number"] {
  border: none;
  outline: none;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  color: var(--very-dark-cyan);
  -moz-appearance: textfield;
  padding: 0 1rem;
  height: 40px;
  text-align: right;
  border: 2px solid var(--white);
  border-radius: 4px;
  transition: 0.3s ease-in;
}

input[type="number"]:hover {
  border: 2px solid var(--strong-cyan);
}

/* ::placeholder {
  color: red;
} */
